.canvas-container {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: hidden;
}

.fixed {
	position: fixed;
}

.main-menu-btn {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1;
}

body {
	margin: 0;
	overflow: hidden;
}
